---
layout: default
title: Training
suppress_header: true
extra_css:
  - training.css
---
<div class="wrapper">
  <div class="training-picture-container">
    <div class="training-overlay">
      <div class="training-content">
        <h1>Training</h1>
        <ul>
        <li> We organize training workshops to help your organization implement Git & GitLab quickly.</li>
        <li> End user training workshops focus on Git concepts and the GitLab workflow.</li>
        <li>A Git workshop is 3.5 hours and covers git concepts such as committing, branches, merge requests, merge conflicts, tags, cherry-picking, bisecting and rebasing.</li>
        <li>A GitLab flow workshop help your organization develop a good git workflow in 2 hours</li>
        <li>We can also do a GitLab administrator workshops of 3 hours.</p>
        <li>And we're open to discussing other materials to cover and other durations.</li>
        <li>Please fill out the form below if you are interested.</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container training-form">
    <div id="wufoo-wnwsmb80wogkgf">
    Fill out my <a href="https://gitlab.wufoo.com/forms/wnwsmb80wogkgf">online form</a>.
    </div>
    <script type="text/javascript">var wnwsmb80wogkgf;(function(d, t) {
    var s = d.createElement(t), options = {
    'userName':'gitlab',
    'formHash':'wnwsmb80wogkgf',
    'autoResize':true,
    'height':'751',
    'async':true,
    'host':'wufoo.com',
    'header':'show',
    'ssl':true};
    s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
    s.onload = s.onreadystatechange = function() {
    var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
    try { wnwsmb80wogkgf = new WufooForm();wnwsmb80wogkgf.initialize(options);wnwsmb80wogkgf.display(); } catch (e) {}};
    var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
    })(document, 'script');</script>
  </div>
</div>
