body {
  background-color: rgba(85, 68, 136, 0.23);
  font-family: "Korolev-Medium", sans-serif;  
}

p {
  font-size: 15px;
  font-family: "Korolev-Medium", sans-serif;
  font-weight: 200;
}

h1, h2, h3, h4, h5, button, a {
  font-family: "Korolev-Medium", sans-serif;
}

h4 {
  text-align: center;
  margin: 19px 0;
}

p {
  font-size: 16px;
}

.wrapper {
  min-height: 0;
}

.about-container {
  position: relative;
  width: 100%;
  height: 225px;
  overflow: hidden;
  background: #548;
  background-size: cover;
}

.about-overlay {
  background: rgba(85, 68, 136, 0.62);
  height: 500px;
}

.about-content {
  padding-top: 25px;
  text-align: center;
  color: white;
  width: 50%;
  text-align: center;
  margin-left: 25%;
}

.content {
  margin: 41px 0;
}

@media (max-width: 1066px) {
  .about-content {
    margin: 0;
    width: 100%;
  }


  .about-container {
    height: 0;
  }
}
