---
title: Blog
layout: default
comments: false
suppress_header: true
extra_css:
  - blog.css
extra_js:
  - blog.js
---

<div class="blog-index blog-entry">

  {% include newsletter_signup.html %}

  {% assign index = true %}
  {% for post in paginator.posts %}
  {% assign content = post.content %}
    <article class="">
      {% include article.html %}
    </article>
  {% endfor %}
  <p><h2>10 most recent posts</h2></p>
  <ul class="post-list">
    {% for post in site.posts limit:10 %}
      <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
        <time>{{ post.date | date:"%d %b %Y" }}</time>
      </li>
    {% endfor %}
  </ul>
  <p>&rarr; <a href="/blog/archives.html">Browse the archives</a></p>
  {% include newsletter_signup.html %}
</div>
</br>
